@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Roboto Condensed", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #f2e9e4;
  --clr-dark: #22223b;
  --clr-accent: #9a8c98;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General Styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

body p {
  font-family: var(--ff-secondary);
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section-title {
  margin-bottom: 0.25em;
}

.section-title--intro strong {
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  box-shadow: var(--bs);
}

.section-subtitle--intro,
.section-subtitle--project {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  margin-bottom: 1em;
  box-shadow: var(--bs);
}

/* Intro section */

.intro {
  position: relative;
}

.intro-img {
  box-shadow: var(--bs);
}

/* About section */

.about-me {
  background: linear-gradient(to top right, #22223b, #9a8c98);
  color: var(--clr-light);
  margin: 0 auto;
}

.about-me h2,
p {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.about-card {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  box-shadow: var(--bs);
}

/* Projects */

.project-card {
  box-shadow: var(--bs);
  transition: 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.1);
}

/* Contact section */

.contact-me {
  background: linear-gradient(to bottom left, #22223b, #9a8c98);
  color: var(--clr-light);
  margin: 0 auto;
}

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #9a8c98;
  color: #f2e9e4;
}

/* Footer */

.so-btn {
  color: var(--clr-accent);
  transition: 0.5s;
}

.so-btn:hover {
  color: var(--clr-dark);
}

/* Media Queries */
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }

  .intro-img {
    grid-area: img;
    min-width: 250px;
  }

  .section-subtitle--intro,
  .section-subtitle--project {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro-img {
    grid-area: img;
    min-width: 250px;
  }

  .section-subtitle--intro,
  .section-subtitle--project {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: center;
  }
}
