@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

body {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*------generic stylings, hover--------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffb703;
}

p {
    color: #fafafa;
}

strong {
    color: #ffb703;
    font-size: 16px;
}

.active {
    color: #ffb703;
}

a:hover {
  color: #ffb703;
}

button:hover {
    color: #0A122A;
}
/*----nav------*/

.navbar-toggler {
    color: #fafafa;
}
.nav-style:hover {
    color: #ffb703;
}

.nav-link,
.navbar-brand {
    color: #fafafa;
}

.nav-style {
    background-color: #0A122A;
    color: #fafafa;
}
/*------Generic page layout for background-------*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
/*-----Landing Page-------*/

.hero-text {
    position: absolute;
    text-align: left;
    top: 45%;
    left: 30%;
    margin-left: 10%;
    transform: translate(-50%, -50%);
    font-family: 'Lato';
    
    color: #fafafa;
    text-shadow: 0px 4px 4px #330000;
}

.hero-text h1 {
    font-size: 75px;
    font-weight: 700;
}

.hero-text h3 {
    font-size: 62px;
}

/*----Footer----*/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  background-color: #0A122A;           
  color: #fafafa;
  left: 0;
}

.social {
    padding-right: 25px;
    color: #fafafa;
}

.social-links li a i:hover {
    background: #ffb703;
}

/*----contact page layout-----*/

.contact-heading {
    text-align: center;
    margin-top: 50px;
    padding-top: 5%;
}
.center-form {
    font-weight: bold;
    padding-top: 30px;
    margin: auto;
    max-width: 70%;
}
 
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #ffb703;
}

/*-----about page layout---*/

.about-page {
    position: absolute;
    padding-top: 10%;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

/*-----portfolio page layout----*/

.portfolio-page {
    padding-top: 10%;
    text-align: center;

}

.portfolio-heading {
    position: relative;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #0A122A;
}

.project {
    position: absolute;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
    border-radius: 30px;
}

.profile {
    width: 150px;
    height: 150px;
    left: 1084px;
    top: 133px;

    border: 0.978125px solid #fafafa;
    box-sizing: border-box;
    box-shadow: 0px 3.9125px 3.9125px 9.78125px rgba(132, 147, 235, 0.247);
    border-radius: 156.5px;
}

/*-----media query-----*/

@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}

@media(min-width: 992px) {
    .portfolio-page {
        margin: auto;
        max-width: 50%;
    }
}