@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*----- Background -----*/

body {
    background: url('../images/background-black.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: -9999;
}

/*------generic stylings, hover--------*/
.body{
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fcbf49;
}

p {
    color: #fafafa;
}

strong {
    color: #fcbf49;
}

/*----- Navigation -----*/

.nav-style {
    background-color: #000000;
    color: #fafafa;
}
/*----Footer----*/

.footer-basic {
    margin-top: auto;
    width:100%;
    height:60px; 
}

.footer-basic,
.social {
    text-align: center;
    color: #fafafa;
}

.social i{
    padding: 0 10px;
    color: #fafafa;
}

/*-----Landing Page-----*/

.landing h1{
    font-size: 6.5rem;
    text-align: center;
}

.landing h2{
    font-size: 5rem;
    text-align: center;
}

.landing-text {
    text-align: center;
}

.landing-text a{
    color: #fafafa;
}
/*----contact page layout-----*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #fcbf49;
}

/*----- ABOUT -----*/

.cv-link a{
    color: #fcbf49;
    font-size: 2rem;
}

/*----- PROJECT PAGE -----*/


/*-----MEDIA-----*/

@media(max-width: 500px) {

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 80%;
}

    .landing h1{
        font-size: 6rem;
        
    }

    .landing h2{
        font-size: 3rem;
    }

}



